
devices = ( {   device      = "USB";
                type        = "Tachometer";
                devid       = "98FD:83AC";
                subtype     = "Revburner";
                granularity = 4;
                config      = "/home/paul/.config/monocoque/revburner1.xml"; },
            {   device      = "Sound";
                type        = "Engine"
                devid       = "98FD:83AC"; },
            {   device      = "Sound";
                type        = "Gear"
                devid       = "98FD:83AC"; },
            {   device      = "Serial";
                type        = "ShiftLights";
                config      = "None";
                devpath     = "/dev/ttyACM0"; } ),
            {   device      = "Serial";
                type        = "SimWind";
                config      = "None";
                devpath     = "/dev/ttyACM1"; } );
