configs = ({
    sim = "default";
    // one can also specify sim by using the "short-name" for example "ac". also, "acc", "ace", "ams2", "et", "at" and "rf2"
    //sim = "ac";
    car = "default";
    devices = ( {   device       = "USB";
                    type         = "Tachometer";
                    devid        = "98FD:83AC";
                    subtype      = "Revburner";
                    granularity  = 2;
                    config       = "~/.config/monocoque/revburner15000.xml"; },
                {   device       = "Sound";
                    effect       = "Engine";
                    devid        = "alsa_output.usb-Generic_USB2.0_Device_20170726905959-00.analog-stereo";
                    pan          = 1;
                    volume       = 90;
                    frequency    = 27; },
                {   device       = "Sound";
                    effect       = "Gear"
                    devid        = "alsa_output.usb-Generic_USB2.0_Device_20170726905959-00.analog-stereo";
                    pan          = 1;
                    duration     = .25;
                    volume       = 100;
                    frequency    = 27; },
                {   device       = "USB";
                    type         = "Haptic";
                    subtype      = "ClubSportElitePedalsV3";
                    effect       = "ABS";
                    tyre         = "ALL";
                    threshold    = 0.05; },
                {   device       = "USB";
                    type         = "Haptic";
                    subtype      = "ClubSportElitePedalsV3";
                    effect       = "Slip";
                    tyre         = "REARS";
                    threshold    = 0.75; },
                {   device       = "USB";
                    type         = "Haptic";
                    subtype      = "ClubSportElitePedalsV3";
                    effect       = "Lock";
                    tyre         = "ALL";
                    threshold    = 0.75; },
                {   device       = "Serial";
                    type         = "SimWind";
                    config       = "None";
                    devpath      = "/dev/ttyACM1"; },
                {   device       = "Serial";
                    type         = "ShiftLights";
                    config       = "None";
                    devpath      = "/dev/ttyACM0"; },
                {   device       = "Serial";
                    type         = "Haptic";
                    effect       = "TyreSlip";
                    tyre         = "ALL"; // motor m1 connected to throttle
                    motors       = 0;
                    devpath      = "/dev/ttyACM0"; },
                {   device       = "Serial";
                    type         = "Haptic";
                    effect       = "TyreLock";
                    tyre         = "ALL"; // motor m3 connected to brake;
                    motors       = 2;
                    devpath      = "/dev/ttyACM0"; },
                {   device       = "Serial";
                    type         = "Haptic"
                    effect       = "ABS";
                    tyre         = "ALL"; // this will have to be documented, this tells the code to spin both motors
                    motors       = 8;
                    devpath      = "/dev/ttyACM0";},
                {   device       = "Serial";
                    type         = "SimWind";
                    config       = "None";
                    baud         = 115200;
                    devpath      = "/dev/simdev1"; },
                {   device       = "Serial";
                    type         = "Simleds";
                    numleds      = 6;
                    startled     = 1;
                    endled       = 6;
                    config       = "None";
                    baud         = 115200;
                    devpath      = "/dev/simdev0"; }
              );
    });
