configs = ({
    sim = "default";
    // one can also specify sim by using the "short-name" for example "ac". also, "acc", "ace", "ams2", "et", "at" and "rf2"
    //sim = "ac";
    car = "default";
    devices = ( {   device       = "USB";
                    type         = "Tachometer";
                    devid        = "98FD:83AC";
                    subtype      = "Revburner";
                    granularity  = 2;
                    config       = "~/.config/monocoque/revburner15000.xml"; },

                {   device       = "Sound";
                    effect       = "Engine";
                    devid        = "alsa_output.pci-0000_0d_00.0.analog-surround-71";
                    pan          = 3;
                    fps          = 60;
                    threshold    = 0.2;
                    channels     = 8;
                    volume       = 70;
                    modulation   = "frequency";
                    frequency    = 17;
                    frequencyMax = 37;},
                {   device       = "Sound";
                    effect       = "Gear"
                    devid        = "alsa_output.pci-0000_0d_00.0.analog-surround-71";
                    pan          = 3;
                    fps          = 60;
                    threshold    = 0.2;
                    channels     = 8;
                    duration     = .6;
                    volume       = 100;
                    frequency    = 15; },



                {   device       = "Sound";
                    effect       = "TyreSlip";
                    tyre         = "RearLeft";
                    devid        = "alsa_output.pci-0000_0d_00.0.analog-surround-71";
                    pan          = 4;
                    channels     = 8;
                    threshold    = 0.2;
                    fps          = 60;
                    volume       = 100;
                    modulation   = "frequency";
                    frequency    = 30;
                    frequencyMax = 37;},
                {   device       = "Sound";
                    effect       = "TyreSlip";
                    tyre         = "RearRight";
                    devid        = "alsa_output.pci-0000_0d_00.0.analog-surround-71";
                    pan          = 5;
                    fps          = 60;
                    channels     = 8;
                    threshold    = 0.2;
                    volume       = 100;
                    modulation   = "frequency";
                    frequency    = 30;
                    frequencyMax = 37;},
                {   device       = "Sound";
                    effect       = "TyreSlip";
                    tyre         = "FrontLeft";
                    devid        = "alsa_output.pci-0000_0d_00.0.analog-surround-71";
                    pan          = 0;
                    channels     = 8;
                    threshold    = 0.2;
                    volume       = 100;
                    modulation   = "frequency";
                    frequency    = 30;
                    frequencyMax = 37;},
                {   device       = "Sound";
                    effect       = "TyreSlip";
                    tyre         = "FrontRight";
                    devid        = "alsa_output.pci-0000_0d_00.0.analog-surround-71";
                    pan          = 1;
                    channels     = 8;
                    threshold    = 0.2;
                    volume       = 100;
                    modulation   = "frequency";
                    frequency    = 30;
                    frequencyMax = 37;},



                {   device       = "Sound";
                    effect       = "TyreLock";
                    tyre         = "RearLeft";
                    devid        = "alsa_output.pci-0000_0d_00.0.analog-surround-71";
                    pan          = 4;
                    channels     = 8;
                    threshold    = 0.2;
                    volume       = 100;
                    modulation   = "frequency";
                    frequency    = 30;
                    frequencyMax = 37;},
                {   device       = "Sound";
                    effect       = "TyreLock";
                    tyre         = "RearRight";
                    devid        = "alsa_output.pci-0000_0d_00.0.analog-surround-71";
                    pan          = 5;
                    channels     = 8;
                    threshold    = 0.2;
                    modulation   = "frequency";
                    volume       = 100;
                    frequency    = 30;
                    frequencyMax = 37;},
                {   device       = "Sound";
                    effect       = "TyreLock";
                    tyre         = "FrontLeft";
                    devid        = "alsa_output.pci-0000_0d_00.0.analog-surround-71";
                    pan          = 0;
                    channels     = 8;
                    threshold    = 0.2;
                    volume       = 100;
                    modulation   = "frequency";
                    frequency    = 30;
                    frequencyMax = 37;},
                {   device       = "Sound";
                    effect       = "TyreLock";
                    tyre         = "FrontRight";
                    devid        = "alsa_output.pci-0000_0d_00.0.analog-surround-71";
                    pan          = 1;
                    channels     = 8;
                    threshold    = 0.2;
                    volume       = 100;
                    modulation   = "frequency";
                    frequency    = 30;
                    frequencyMax = 37;},

                {   device       = "USB";
                    type         = "Haptic";
                    subtype      = "CSLELITEV3PEDALS";
                    //devpath      = "/sys/module/hid_fanatec/drivers/hid:fanatec/0003:0EB7:183B.0002/rumble";
                    devpath      = "/sys/module/hid_fanatec/drivers/hid:ftec_csl_elite/0003:0EB7:183B.0002/rumble";
                    effect       = "ABS";
                    tyre         = "ALL";
                    threshold    = 0.2;
                    value0       = 0;
                    value1       = 16776960; },
                {   device       = "USB";
                    type         = "Haptic";
                    subtype      = "CSLELITEV3PEDALS";
                    //devpath      = "/sys/module/hid_fanatec/drivers/hid:fanatec/0003:0EB7:183B.0002/rumble";
                    devpath      = "/sys/module/hid_fanatec/drivers/hid:ftec_csl_elite/0003:0EB7:183B.0002/rumble";
                    effect       = "Slip";
                    tyre         = "ALL";
                    threshold    = 0.2;
                    value0       = 0;
                    value1       = 16711680; },
                {   device       = "USB";
                    type         = "Haptic";
                    subtype      = "CSLELITEV3PEDALS";
                    //devpath      = "/sys/module/hid_fanatec/drivers/hid:fanatec/0003:0EB7:183B.0002/rumble";
                    devpath      = "/sys/module/hid_fanatec/drivers/hid:ftec_csl_elite/0003:0EB7:183B.0002/rumble";
                    effect       = "Lock";
                    tyre         = "ALL";
                    threshold    = 0.2;
                    value0       = 0;
                    value1       = 65280; },

                {   device       = "Serial";
                    type         = "Haptic";
                    effect       = "TyreSlip";
                    tyre         = "ALL"; // motor m1 connected to throttle
                    motors       = 0;
                    devpath      = "/dev/ttyACM0"; },
                {   device       = "Serial";
                    type         = "Haptic";
                    effect       = "TyreLock";
                    tyre         = "ALL"; // motor m3 connected to brake;
                    motors       = 2;
                    devpath      = "/dev/ttyACM0"; },
                {   device       = "Serial";
                    type         = "Haptic"
                    effect       = "ABS";
                    tyre         = "ALL"; // this will have to be documented, this tells the code to spin both motors
                    motors       = 8;
                    devpath      = "/dev/ttyACM0";},
                {   device       = "Serial";
                    type         = "SimWind";
                    config       = "None";
                    baud         = 115200;
                    devpath      = "/dev/simdev1"; },

                {   device       = "Serial";
                    type         = "SimWind";
                    config       = "None";
                    baud         = 115200;
                    devpath      = "/dev/simdev1"; },

                {   device       = "Serial";
                    type         = "Simleds";
                    numleds      = 6;
                    startled     = 2;
                    endled       = 5;
                    config       = "~/git/monocoque/conf/rpms_and_radar.lua"
                    baud         = 115200;
                    devpath      = "/dev/simdev0";
                }


              );
    });
